.cndce_configurator{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    height: auto;
    min-height: 100%;
    background: none;
    overflow: hidden;

    &:global(.loaded){
        overflow: visible;
    }
}